<h1>Raffle#index</h1>
<p>Find me in app/views/raffle/index.html.erb</p>
<%= react_component("Raffle", { greeting: "Hello from react-rails." }) %>
<%= react_component("Index", {title: "Hello World"}) %>
<p>huj</p>
